.features .container {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

@media (max-width: 800px) {
  .features .container {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}