.tabs {
  margin-top: 30px;
}
.tabs-header {
  display: flex;
  background: #333;
  color: #fff;
  padding: 10px 20px;
}
.tabs-header li {
  margin-right: 20px;
  cursor: pointer;
}
.tabs-content {
  font-size: 18px;
  padding: 20px;
  border: 1px solid #333;
  background: #f4f4f4;
}