---
import '../styles/components/card.css';

export interface Props {
  title: string;
  body: string;
}

const {title, body } = Astro.props as Props;
---

<div class="card">
  <h3> { title } </h3>
  <p> { body }</p>
</div>