---
import '../styles/components/showcase.css' 
import frameworkLogoMobile from '../assets/images/framework-logos-small.png'
import frameworkLogo from '../assets/images/framework-logos.png'

export interface Props {
  heading?: string;
  text?: string;
  showExtras?: boolean;
}

const { 
    heading = " Welcome To The Astro Crash Course ", 
    text = "Build super fast HTML-first websites using your favorite Javascript frameworks",
    showExtras=false
  } = Astro.props as Props;
---


<section class="showcase">
  <div class="showcase-text">
    <h1>{heading}</h1>
    <p>{text}</p>
  </div>
  {
  showExtras &&  
    (
      <div class="showcase-img">
        <img class="logos" src={frameworkLogo}>
        <img class="logos-small" src={frameworkLogoMobile}>
      </div> 
    )
  }
</section>